body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.App {
    text-align: center;
}

.header {
    padding: 7px;
}

.search-bar {
    background: inherit;
    width: 45%;
}
@media all and (max-width: 500px) {
    .search-bar {
        width: 100%;
    }
}


.album-list {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    padding: 0;
    margin: 0;
    /* justify-content: space-evenly; */
}

.album {
    flex: 0 0 10%;
}
@media all and (max-width: 500px) {
    .album {
        flex: 0 0 50%;
    }
}

.album:hover {
    -webkit-filter:brightness(50%);
    -moz-filter:brightness(50%);
    filter: url(#brightness);
    filter:brightness(50%);
}

.album-cover {
    width: 100%;
    height: 100%;
}

.full-space {
    margin: 0;
    padding: 0;
    min-width: 100%;
}

.col {
    text-align: center;
    margin: 0;
    padding: 0;
}
